<template>
  <div>
    <h3 class="mb-2 mt-3">Room Management</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <RoomForm
            class="text-right"
            :room="selectedItem"
            ref="roomForm"
            @save="saveRoom"
          ></RoomForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="roomItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editRoom(item)">Edit</b-button
              ><b-button class="ml-1" variant="danger" @click="deleteRoom(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row></b-container
    >
  </div>
</template>
<script>
import RoomForm from './RoomForm.vue'
import axios from 'axios'
export default {
  components: {
    RoomForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveRoom (room) {
      console.log('Submit', room)
      if (room._id === '') {
        // add new
        axios
          .post('http://localhost:3000/rooms', room)
          .then(
            function (response) {
              const newRoom = response.data
              this.getRooms()
              this.makeToast(
                'Add Successfully',
                'Room ' + newRoom._id + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast('Add Failed', 'can not add ' + room._id, 'danger')
          })
      } else {
        // Update
        axios
          .put('http://localhost:3000/rooms/' + room._id, room)
          .then(
            function (response) {
              const updateRoom = response.data
              this.getRooms()
              this.makeToast(
                'Improved Successfully',
                'Room ' + updateRoom._id + ' has been edited'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed ',
              'can not update ' + room._id,
              'danger'
            )
          })
      }
    },
    editRoom (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      console.log(this.selectedItem)
      this.$nextTick(() => {
        this.$refs.roomForm.show()
      })
    },
    deleteRoom (room) {
      if (confirm('Do you want to delete the room?')) {
        axios
          .delete('http://localhost:3000/rooms/' + room._id)
          .then(
            function (response) {
              this.getRooms()
              this.makeToast(
                'delete Successfully ',
                'Room ' + room._id + ' has been deleted'
              )
            }.bind(this)
          )
          .catch(() => {
            this.getRooms()
            this.makeToast(
              'Delete Failed ',
              'can not delete ' + room._id,
              'danger'
            )
          })
      }
    },
    getRooms () {
      const user = JSON.parse(localStorage.getItem('user'))
      var roleadmin = false
      console.log(user.faculty._id)
      user.roles.forEach((element) => {
        if (element === 'ADMIN') {
          roleadmin = true
        }
      })
      if (roleadmin) {
        axios.get('http://localhost:3000/rooms/').then(
          function (response) {
            console.log(response)
            this.roomItem = response.data
          }.bind(this)
        )
      } else {
        const facID = JSON.parse(localStorage.getItem('user')).faculty._id
        axios.get('http://localhost:3000/getRoomFaculty/' + facID).then(
          function (response) {
            console.log(response)
            this.roomItem = response.data
          }.bind(this)
        )
      }
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'Room_ID', label: 'ID Room' },
        { key: 'Type', label: 'Type' },
        { key: 'Size', label: 'Size' },
        { key: 'Building.Building_Name', label: 'Building' },
        { key: 'Order_Consideration.Order_Name', label: 'Name' },
        { key: 'operators', label: '' }
      ],
      roomItem: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getRooms()
  }
}
</script>
