<template>
  <div>
    <b-button @click="addNew" variant="primary" class="mb-2 mt"
      >Add Room</b-button
    >
    <b-modal
      id="modal-room"
      ref="modalRoom"
      title="Room"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-orderconsiderations-id"
          label="ID Room :"
          label-for="orderconsiderations-id"
        >
          <b-form-input
            type="text"
            id="Room-Room_ID"
            placeholder="Enter id"
            v-model="form.Room_ID"
            autofocus
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-room-type"
          label="Type :"
          label-for="room-type"
        >
          <b-form-select
            v-model="form.Type"
            :options="options"
          ></b-form-select>
        </b-form-group>

        <b-form-group
          id="form-group-room-size"
          label="Size :"
          label-for="room-size"
        >
          <b-form-input
            type="number"
            id="room-size"
            placeholder="Enter size"
            v-model="form.Size"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-room-facility"
          label="Facility :"
          label-for="room-facility"
        >
          <b-form-checkbox-group
            type="text"
            id="room-facility"
            class="mb-3"
            v-model="form.Facility"
            :options="facilityItem"
          ></b-form-checkbox-group>
        </b-form-group>

        <b-form-group
          id="form-group-room-room"
          label="Info Room :"
          label-for="room-room"
        >
          <b-form-textarea
            type="text"
            id="room-room"
            placeholder="Enter info room"
            rows="3"
            no-resize
            v-model="form.Info_room"
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          id="form-group-room-building"
          label="Building :"
          label-for="room-buildgin"
        >
          <b-form-select
            v-model="form.Building"
            :options="buildingItem"
          ></b-form-select>
        </b-form-group>

        <b-form-group
          id="form-group-room-orderCon"
          label="Name :"
          label-for="room-orderCon"
        >
          <b-form-select
            v-model="form.Order_Consideration"
            :options="orderItem"
          ></b-form-select>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    room: Object
  },
  data () {
    return {
      form: {
        _id: -1,
        Room_ID: '',
        Type: null,
        Size: '',
        Facility: [],
        Info_room: '',
        Building: null,
        Order_Consideration: null
      },
      selected: null,
      options: [
        { value: null, text: 'Please select some item' },
        { value: 'Lecture', text: 'Lecture' },
        { value: 'Lab', text: 'Lab' },
        { value: 'Slide Room', text: 'Slide Room' }
      ],
      facilityItem: [],
      buildingItem: [{ value: null, text: 'Please select a building' }],
      orderItem: [{ value: null, text: 'Please select a name' }]
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalRoom.show()
    },
    submit () {
      const room = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', room)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        Room_ID: '',
        Type: null,
        Size: '',
        Facility: [],
        Info_room: '',
        Building: null,
        Order_Consideration: null
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.room._id
        this.form.Room_ID = this.room.Room_ID
        this.form.Type = this.room.Type
        this.form.Size = this.room.Size
        this.form.Facility = this.room.Facility
        this.form.Info_room = this.room.Info_room
        this.form.Building = this.room.Building._id
        this.form.Order_Consideration = this.room.Order_Consideration._id
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-room')
      })
    },
    getBuilding () {
      axios.get('http://localhost:3000/buildings').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.buildingItem.push({
              value: element._id,
              text: element.Building_Name
            })
          })
        }.bind(this)
      )
    },
    getOrderCon () {
      axios.get('http://localhost:3000/orders').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.orderItem.push({
              value: element._id,
              text: element.Order_Name
            })
          })
        }.bind(this)
      )
    },
    getFacility () {
      axios.get('http://localhost:3000/equipments').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.facilityItem.push({ value: element._id, text: element.name })
          })
        }.bind(this)
      )
    }
  },
  mounted () {
    this.getOrderCon()
    this.getBuilding()
    this.getFacility()
  }
}
</script>
<style></style>
