<template>
  <div>
    <b-modal
      id="modal-consider"
      ref="modalConsider"
      title="Consider Booking"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
<b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-consider-status"
          label="Status :"
          label-for="consider-status"
        >
          <b-form-select v-model="status" :options="statusItem"></b-form-select>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    consider: Object
  },
  data () {
    return {
      form: {
        _id: '',
        ID_Room: '',
        title: '',
        content: '',
        Firstname: '',
        Lastname: '',
        startDate: '',
        endDate: '',
        status: '',
        approver: ''
      },
      statusItem: [
        { value: 'Waiting for Approval', text: 'Waiting for Approval' },
        { value: 'Approved', text: 'Approved' },
        { value: 'Disapproved', text: 'Disapproved' }
      ],
      User: JSON.parse(localStorage.getItem('user'))._id,
      status: 'Waiting for Approval'
    }
  },
  methods: {
    show () {
      this.$refs.modalConsider.show()
    },
    submit () {
      const consider = JSON.parse(
        JSON.stringify({
          User: this.User,
          status: this.status,
          reserveID: this.form._id
        })
      )
      // console.log(consider)
      this.$emit('save', consider)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        ID_Room: '',
        title: '',
        content: '',
        Firstname: '',
        Lastname: '',
        startDate: '',
        endDate: '',
        status: '',
        approver: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.consider._id
        this.form.ID_Room = this.consider.Room.Room_ID
        this.form.title = this.consider.title
        this.form.content = this.consider.content
        this.form.Firstname = this.consider.User.firstname
        this.form.Lastname = this.consider.User.lastname
        this.form.startDate = this.consider.startDate
        this.form.endDate = this.consider.endDate
        this.form.status = this.consider.status
        this.form.approver = this.consider.approver
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-consider')
      })
    },
    getStatus () {
      return this.form.status
    }
  },
  mounted () {}
}
</script>
<style></style>
