<template>
  <div>
    <h3 class="mb-3 mt-3">Consider Booking</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <ConsiderForm
            class="text-right"
            :consider="selectedItem"
            ref="considerForm"
            @save="saveConsider"
          ></ConsiderForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="considerItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="Consider(item)" variant="success"
                >Consider</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row></b-container
    >
  </div>
</template>
<script>
import ConsiderForm from './ConsiderForm.vue'
import axios from 'axios'
export default {
  components: {
    ConsiderForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveConsider (consider) {
      console.log('Submit', consider)

      if (consider.status !== 'Waiting for Approval') {
        axios
          .put('http://localhost:3000/reserves/' + consider.reserveID, consider)
          .then(
            function (response) {
              // const data = response.data
              // console.log(data)
              this.getConsiders()
              this.makeToast(
                'Updata Successfully',
                'Consider ' + consider.reserveID + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed',
              'can not add ' + consider.reserveID,
              'danger'
            )
          })
      }
    },
    Consider (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      console.log(this.selectedItem)
      this.$nextTick(() => {
        this.$refs.considerForm.show()
      })
    },
    getConsiders () {
      const userID = JSON.parse(localStorage.getItem('user'))._id
      console.log({
        ID: userID
      })
      axios.get('http://localhost:3000/reserves/' + userID).then(
        function (response) {
          console.log(response.data)
          this.considerItem = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: 'Room.Room_ID', label: 'ID Room' },
        { key: 'title', label: 'Title' },
        { key: 'User.firstname', label: 'Firstname' },
        { key: 'User.lastname', label: 'Lastname' },
        { key: 'startDate', label: 'Start Date' },
        { key: 'endDate', label: 'End Date' },
        { key: 'status', label: 'Status' },
        { key: 'operators', label: '' }
      ],
      considerItem: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getConsiders()
  }
}
</script>
