<template>
  <div>
    <b-button @click="addNew" variant="primary" class="mb-2 mt"
      >Add User</b-button
    >
    <b-modal
      id="modal-user"
      ref="modalUser"
      title="User"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-user-firstName"
          label="Firstname :"
          label-for="user-firstName"
        >
          <b-form-input
            type="text"
            id="user-firstName"
            placeholder="Enter firstname"
            v-model="form.firstname"
            autofocus
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-lastName"
          label="Lastname :"
          label-for="user-lastName"
        >
          <b-form-input
            type="text"
            id="user-lastName"
            placeholder="Enter lastname"
            v-model="form.lastname"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-user-roles"
          label="Position :"
          label-for="user-roles"
        >
          <b-form-checkbox-group
            v-model="form.roles"
            :options="position"
            class="mb-3"
            value-field="text"
            text-field="value"
          ></b-form-checkbox-group>
        </b-form-group>

        <b-form-group
          id="form-group-user-faculty"
          label="Faculty :"
          label-for="user-faculty"
        >
          <b-form-select
            v-model="form.faculty"
            :options="facultyItem"
          ></b-form-select>
        </b-form-group>

        <b-form-group
          id="form-group-userName"
          label="Username :"
          label-for="user-userName"
        >
          <b-form-input
            type="text"
            id="user-userName"
            placeholder=" Enter username"
            v-model="form.username"
            :state="validateUserName"
          ></b-form-input>
          <b-form-invalid-feedback :state="validateUserName">
            Username must be at least 5-12 characters long.
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group
          id="form-group-password"
          label="Password :"
          label-for="user-password"
        >
          <b-form-input
            type="password"
            id="user-password"
            placeholder="Enter password"
            v-model="form.password"
            :state="validatePassword"
          ></b-form-input>
          <b-form-invalid-feedback :state="validatePassword">
            Your password must be 8-20 characters long, contain letters and
            numbers, and must not contain spaces, special characters, or emoji.
          </b-form-invalid-feedback>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    user: Object
  },
  data () {
    return {
      form: {
        _id: -1,
        firstname: '',
        lastname: '',
        roles: [],
        faculty: null,
        username: '',
        password: ''
      },
      isAddNew: false,
      position: [
        { text: 'ADMIN', value: 'Admin' },
        { text: 'ADMIN_FACULTY', value: 'Admin faculty' },
        { text: 'APPROVER', value: 'Approver' },
        { text: 'USER', value: 'User' }
      ],
      facultyItem: [{ value: null, text: 'Please select a faculty' }]
    }
  },
  computed: {
    validateUserName () {
      return this.form.username.length >= 5
    },
    validatePassword () {
      return this.form.password.length >= 8
    },
    validateForm () {
      return this.validateUserName && this.validatePassword
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalUser.show()
    },
    submit () {
      const user = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', user)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        firstname: '',
        lastname: '',
        roles: [],
        faculty: null,
        username: '',
        password: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.user._id
        this.form.firstname = this.user.firstname
        this.form.lastname = this.user.lastname
        this.form.roles = this.user.roles
        this.form.faculty = this.user.faculty._id
        this.form.username = this.user.username
        this.form.password = this.user.password
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      if (!this.validateForm) return
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-user')
      })
    },
    getFaculty () {
      axios.get('http://localhost:3000/faculty').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.facultyItem.push({ value: element._id, text: element.name })
          })
        }.bind(this)
      )
    }
  },
  mounted () {
    this.getFaculty()
  }
}
</script>
<style></style>
