<template>
  <div>
    <h3 class="mb-2 mt-3">Agency Management</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <FacultyForm class="text-right"
            :faculty="selectedItem"
            ref="facultyForm"
            @save="saveFaculty"
          ></FacultyForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="facultyItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editFaculty(item)">Edit</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteFaculty(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import FacultyForm from './FacultyForm.vue'
import axios from 'axios'
export default {
  components: {
    FacultyForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveFaculty (faculty) {
      console.log('Submit', faculty)
      if (faculty._id === '') {
        // add new
        axios
          .post('http://localhost:3000/faculty', faculty)
          .then(
            function (response) {
              const newFaculty = response.data
              this.getFacultys()
              this.makeToast(
                'Add Successfully',
                'Faculty ' + newFaculty._id + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Add Failed ',
              'can not add ' + faculty._id,
              'danger'
            )
          })
      } else {
        // Update
        axios
          .put('http://localhost:3000/faculty/' + faculty._id, faculty)
          .then(
            function (response) {
              const updateFaculty = response.data
              this.getFacultys()
              this.makeToast(
                'Improved Successfully ',
                'Faculty ' + updateFaculty._id + ' has been edited'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed ',
              'can not update ' + faculty._id,
              'danger'
            )
          })
      }
    },
    editFaculty (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.facultyForm.show()
      })
    },
    deleteFaculty (faculty) {
      if (confirm('Do you want to delete the faculty?')) {
        axios
          .delete('http://localhost:3000/faculty/' + faculty._id)
          .then(
            function (response) {
              this.getFacultys()
              this.makeToast(
                'delete Successfully ',
                'Faculty ' + faculty._id + ' has been deleted'
              )
            }.bind(this)
          )
          .catch(() => {
            this.getFacultys()
            this.makeToast(
              'Delete Failed ',
              'can not delete ' + faculty._id,
              'danger'
            )
          })
      }
    },
    getFacultys () {
      axios.get('http://localhost:3000/faculty').then(
        function (response) {
          console.log(response)
          this.facultyItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'name', label: 'Faculty' },
        { key: 'operators', label: '' }
      ],
      facultyItems: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getFacultys()
  }
}
</script>
<style></style>
