<template>
  <div>
    <h3 class="mb-3 mt-3">History</h3>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table :items="reserveItem" :fields="fields"> </b-table>
        </b-col> </b-row
    ></b-container>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    cancelReserve (item) {
      if (confirm('Do you want to delete the reserve status?')) {
        return ''
      }
    },
    getReserves () {
      const userID = JSON.parse(localStorage.getItem('user'))._id
      axios.get('http://localhost:3000/getReserveByUser/' + userID).then(
        function (response) {
          console.log(response.data)
          this.reserveItem = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: 'Room.Room_ID', label: 'ID Room' },
        { key: 'title', label: 'Title' },
        { key: 'startDate', label: 'Start Date' },
        { key: 'endDate', label: 'End Date' },
        { key: 'status', label: 'Status' }
      ],
      selectedItem: null,
      reserveItem: []
    }
  },
  mounted () {
    this.getReserves()
  }
}
</script>
