<template>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://s.isanook.com/ca/0/rp/r/w728/ya0xa0m1w0/aHR0cHM6Ly9zLmlzYW5vb2suY29tL2NhLzAvdWQvMjc5LzEzOTU2NDkvMzE3MDY0NzJfMTc3Mzk5ODcxOTMwNTMzOF85MTMuanBn.jpg"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                  Login
                </h1>
                <b-card-text>
                  <div style="text-align: justify">
                    <b-form @submit="onSubmit" v-if="show">
                      <b-form-group id="input-group-1" label-for="input-1">
                        <b-form-input
                          id="input-1"
                          v-model="form.username"
                          type="text"
                          placeholder="Username"
                          required
                        ></b-form-input>
                      </b-form-group>

                      <b-form-group id="input-group-2" label-for="input-2">
                        <b-form-input
                          id="input-2"
                          v-model="form.password"
                          type="password"
                          placeholder="Password"
                          required
                        ></b-form-input>
                      </b-form-group>

                      <b-button type="submit" block variant="dark"
                        >Login</b-button
                      >

                      <a class="small text-muted" href="#!">Forgot password?</a>
                    </b-form>
                  </div>
                  <!-- {{ $store.state.auth.user }}
            {{ $store.getters['auth/isLogin'] }} -->
                </b-card-text>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      // alert(JSON.stringify(this.form))
      this.$store.dispatch('auth/login', this.form)
    }
  }
}
</script>
