<template>
  <div>
    <h3 class="mb-2 mt-3">Reservations</h3>
    <b-container>
      <b-row>
        <b-col class="mb-2 mt-3">
          <h5 class="text-muted d-flex">Buildings :</h5>
          <b-form-select
            v-model="buildingSelected"
            :options="buildingsItem"
            v-on:change="getRoom"
          ></b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-2">
          <h5 class="text-muted d-flex">Rooms :</h5>
          <b-form-select
            v-model="roomSelected"
            :options="roomItem"
          ></b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-2">
          <h5 class="text-muted d-flex">Title :</h5>
          <b-form-input
            v-model="title"
            placeholder="Enter title"
          ></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-2">
          <h5 class="text-muted d-flex">Content :</h5>
          <b-form-textarea
            id="textarea"
            v-model="content"
            placeholder="Enter something..."
            rows="3"
            max-rows="3"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-2">
          <h5 class="text-muted d-flex">Requirement :</h5>
          <b-form-textarea
            id="textarea"
            v-model="requirement"
            placeholder="Enter requirement..."
            rows="3"
            max-rows="3"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-3"
          ><h6 for="start-date" class="text-muted">Start Date</h6>
          <b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker
        ></b-col>
        <b-col class="mb-2 mt-3">
          <h6 for="start-time" class="text-muted">Start Time</h6>
          <b-form-timepicker
            id="start-time"
            v-model="startTime"
            locale="th"
          ></b-form-timepicker
        ></b-col>
      </b-row>
      <b-row>
        <b-col>
          <h6 for="end-date" class="text-muted">End Date</h6>
          <b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
            locale="th"
          ></b-form-datepicker>
        </b-col>
        <b-col>
          <h6 for="end-time" class="text-muted">End Time</h6>
          <b-form-timepicker
            id="endTime"
            v-model="endTime"
            locale="th"
          ></b-form-timepicker
        ></b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-4">
          <b-button class="w-25" @click="addEvent()">Add Reserve</b-button>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
import en from '../locale/en'
export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      requirement: '',
      reserve: [
        {
          start: '2022-03-20 20:40',
          end: '2022-03-20 21:40',
          title: 'อัดวิดีโอ',
          content: 'นั่งกัดฟันทำวิดีโอ',
          class: 'a'
        }
      ],
      buildingSelected: null,
      buildingsItem: [{ value: null, text: 'Please select a buildings' }],
      roomSelected: null,
      roomItem: [{ value: null, text: 'Please select a rooms' }]
    }
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    addEvent () {
      const approver = []
      axios
        .get('http://localhost:3000/getRoomForUser/' + this.roomSelected)
        .then(function (response) {
          // console.log(response.data.Order_Consideration.User)
          response.data.Order_Consideration.User.forEach((element) => {
            approver.push({ UserID: element, status: 'Waiting for Approval' })
          })
        })

      const reserve = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'a',
        createDate: new Date(Date.now()),
        Room: this.roomSelected,
        User: JSON.parse(localStorage.getItem('user'))._id,
        requirement: this.requirement,
        approver: approver,
        status: 'Waiting for Approval'
      }
      console.log(reserve)
      axios
        .post('http://localhost:3000/reserves', reserve)
        .then(
          function (response) {
            const newReserve = response.data
            this.makeToast(
              'Add Successfully',
              'Reserve ' + newReserve.title + ' has been added'
            )
          }.bind(this)
        )
        .catch(() => {
          this.makeToast('Add Failed', 'can not add ' + reserve.title, 'danger')
        })
    },
    getBuilding () {
      axios.get('http://localhost:3000/getBuildingForUser').then(
        function (response) {
          // console.log(response)
          response.data.forEach((element) => {
            this.buildingsItem.push({
              value: element._id,
              text: element.Building_Name
            })
          })
        }.bind(this)
      )
    },
    getRoom () {
      // console.log(this.buildingSelected)
      axios
        .get('http://localhost:3000/getRoomByBuilding/' + this.buildingSelected)
        .then(
          function (response) {
            // console.log(response)
            this.roomItem = [{ value: null, text: 'Please select a rooms' }]
            response.data.forEach((element) => {
              this.roomItem.push({ value: element._id, text: element.Room_ID })
            })
          }.bind(this)
        )
    }
  },
  mounted () {
    this.getBuilding()
  },
  computed: {
    th () {
      return th
    },
    en () {
      return en
    }
  }
}
</script>
<style>
.vuecal__now-line {
  color: #06c;
}
.vuecal__event.a {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.b {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.c {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid rgb(235, 82, 82);
  color: #fff;
}
</style>
