<template>
  <div>
    <h3 class="mb-2 mt-3">Room</h3>
    <b-container>
      <b-row>
        <b-col class="mb-2 mt-3">
          <h5 class="text-muted d-flex">Buildings :</h5>
          <b-form-select
            v-model="buildingSelected"
            :options="buildingsItem"
            v-on:change="getRoom"
            required
          ></b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-2">
          <h5 class="text-muted d-flex">Rooms :</h5>
          <b-form-select
            v-model="roomSelected"
            :options="roomItem"
            required
            v-on:change="ready()"
          ></b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="mb-2 mt-3"
          ><vue-cal
            :locale="en"
            active-view="week"
            :events="reserve"
            @ready="setData($event)"
            @view-change="viewChange($event)"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import th from '../locale/th'
import en from '../locale/en'
import { getReserves } from '../services/event'
export default {
  props: {
    buildings: Object,
    room: Object
  },
  data () {
    return {
      reserve: [
        {
          start: '',
          end: '',
          title: '',
          content: '',
          class: 'a'
        }
      ],
      buildingSelected: null,
      buildingsItem: [{ value: null, text: 'Please select a buildings' }],
      roomSelected: null,
      roomItem: [{ value: null, text: 'Please select a rooms' }],
      start: '',
      end: ''
    }
  },
  methods: {
    getBuilding () {
      axios.get('http://localhost:3000/getBuildingForUser').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.buildingsItem.push({
              value: element._id,
              text: element.Building_Name
            })
          })
        }.bind(this)
      )
    },
    getRoom () {
      axios
        .get('http://localhost:3000/getRoomByBuilding/' + this.buildingSelected)
        .then(
          function (response) {
            // console.log(response)
            this.roomItem = [{ value: null, text: 'Please select a rooms' }]
            response.data.forEach((element) => {
              this.roomItem.push({ value: element._id, text: element.Room_ID })
            })
          }.bind(this)
        )
    },
    async ready () {
      // console.log('ready', e)
      const res = await getReserves(this.start, this.end, this.roomSelected)
      console.log(res)

      const newReserve = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.reserve = newReserve
    },
    async viewChange (e) {
      // console.log('view-change', e)
      const res = await getReserves(e.startDate, e.endDate, this.roomSelected)
      console.log(res)
      const newReserve = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.reserve = newReserve
    },
    setData (e) {
      this.start = e.startDate
      this.end = e.endDate
    }
  },
  mounted () {
    this.getBuilding()
  },
  computed: {
    th () {
      return th
    },
    en () {
      return en
    }
  },
  components: {
    VueCal
  }
}
</script>
<style>
.vuecal__now-line {
  color: #06c;
}
.vuecal__event.a {
  background-color: rgba(253, 156, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.b {
  background-color: rgba(50, 205, 50, 0.9);
  border: 1px solid rgb(50, 205, 50);
  color: #fff;
}
.vuecal__event.c {
  background-color: rgba(255, 102, 102, 0.9);
  border: 1px solid rgb(235, 82, 82);
  color: #fff;
}
</style>
