<template>
  <div>
    <b-button @click="addNew" variant="primary" class="mb-2 mt"
      >Add Building</b-button
    >
    <b-modal
      id="modal-building"
      ref="modalBuilding"
      title="Building"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-orderconsiderations-id"
          label="ID Building :"
          label-for="orderconsiderations-id"
        >
          <b-form-input
            type="text"
            id="Buildind-Building_ID"
            placeholder="Enter id"
            v-model="form.Building_ID"
            autofocus
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-building-lastName"
          label="Building :"
          label-for="building-lastName"
        >
          <b-form-input
            type="text"
            id="building-lastName"
            placeholder="Enter building name"
            v-model="form.Building_Name"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-building-faculty"
          label="Faculty :"
          label-for="building-faculty"
        >
          <b-form-select
            v-model="form.faculty"
            :options="facultyItem"
          ></b-form-select>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    building: Object
  },
  data () {
    return {
      form: {
        _id: -1,
        Building_ID: '',
        Building_Name: '',
        faculty: null
      },
      facultyItem: [{ value: null, text: 'Please select a faculty' }]
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalBuilding.show()
    },
    submit () {
      const building = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', building)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        Building_ID: '',
        Building_Name: '',
        faculty: null
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.building._id
        this.form.Building_ID = this.building.Building_ID
        this.form.Building_Name = this.building.Building_Name
        this.form.faculty = this.building.faculty._id
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-building')
      })
    },
    getFaculty () {
      axios.get('http://localhost:3000/faculty').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.facultyItem.push({ value: element._id, text: element.name })
          })
        }.bind(this)
      )
    }
  },
  mounted () {
    this.getFaculty()
  }
}
</script>
<style></style>
