<template>
  <div>
    <h3 class="mb-2 mt-3">Building Management</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <BuildingForm
            class="text-right"
            :building="selectedItem"
            ref="buildingForm"
            @save="saveBuilding"
          ></BuildingForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="buildingItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editBuilding(item)">Edit</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteBuilding(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row></b-container
    >
  </div>
</template>
<script>
import BuildingForm from './BuildingForm.vue'
import axios from 'axios'
export default {
  components: {
    BuildingForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveBuilding (building) {
      console.log('Submit', building)
      if (building._id === '') {
        // add new
        axios
          .post('http://localhost:3000/buildings', building)
          .then(
            function (response) {
              const newBuilding = response.data
              this.getBuildings()
              this.makeToast(
                'Add Successfully',
                'Building ' + newBuilding._id + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Add Failed',
              'can not add ' + building._id,
              'danger'
            )
          })
      } else {
        // Update
        axios
          .put('http://localhost:3000/buildings/' + building._id, building)
          .then(
            function (response) {
              const updateBuilding = response.data
              this.getBuildings()
              this.makeToast(
                'Improved Successfully',
                'Building ' + updateBuilding._id + ' has been edited'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed ',
              'can not update ' + building._id,
              'danger'
            )
          })
      }
    },
    editBuilding (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      console.log(this.selectedItem)
      this.$nextTick(() => {
        this.$refs.buildingForm.show()
      })
    },
    deleteBuilding (building) {
      if (confirm('Do you want to delete the building?')) {
        axios
          .delete('http://localhost:3000/buildings/' + building._id)
          .then(
            function (response) {
              this.getBuildings()
              this.makeToast(
                'delete Successfully ',
                'Building ' + building._id + ' has been deleted'
              )
            }.bind(this)
          )
          .catch(() => {
            this.getBuildings()
            this.makeToast(
              'Delete Failed ',
              'can not delete ' + building._id,
              'danger'
            )
          })
      }
    },
    getBuildings () {
      axios.get('http://localhost:3000/buildings').then(
        function (response) {
          console.log(response)
          this.buildingItem = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'Building_ID', label: 'ID Building' },
        { key: 'Building_Name', label: 'Building' },
        { key: 'faculty.name', label: 'Faculty' },
        { key: 'operators', label: '' }
      ],
      buildingItem: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getBuildings()
  }
}
</script>
