<template>
  <div class="hello">
    <div>
      <b-carousel
        id="carousel-1"
        v-model="slide"
        :interval="4000"
        controls
        indicators
        background="#ababab"
        img-width="1024"
        img-height="380"
        class="mb-2 mt-3"
        style="text-shadow: 1px 1px 2px #333"
        @sliding-start="onSlideStart"
        @sliding-end="onSlideEnd"
      >
        <!-- Text slides with image -->
        <b-carousel-slide
          img-src="https://www.buu.ac.th/public/backend/upload/slide/original/slide162798609676320300.jpg"
        ></b-carousel-slide>

        <!-- Slides with custom text -->
        <b-carousel-slide
          img-src="https://www.buu.ac.th/public/backend/upload/slide/original/slide164863232141994900.jpg"
        >
        </b-carousel-slide>

        <!-- Slides with image only -->
        <b-carousel-slide
          img-src="../assets/slide.png"
        ></b-carousel-slide>
      </b-carousel>
    </div>

    <div>
      <b-card-group deck>
        <b-card
          title="ปิดปรับปรุงระบบ"
          img-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMaaATbUA0PdTXAvHe5nC_M-GnKhFzbu7Gx4maGav3rSogmNpJd_0wiS0F7sgk61KNrWg&usqp=CAU"
          img-top
          tag="article"
          style="max-width: 20rem"
          class="mb-2 mt-5"
        >
          <b-card-text>
            เนื่องด้วยอยู่ในช่วงรับปริญญา ระหว่างวันที่ 10-21 มกราคม
            จึงปิดปรับปรุงระบบในวันที่ 30 มกราคม ขออภัยในความไม่สะดวก
          </b-card-text>
        </b-card>

        <b-card
          title="จองห้อง"
          img-src="https://event.buu.ac.th/public/backend/images/hotel/1.JPG"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem"
          class="mb-2 mt-5"
        >
          <b-card-text>
            ระบบจองห้องมหาวิทยาลัยบรูพาบุคลากรหรือนิสิตของมหาวิทยาลัยบูรพาสามารถจองห้องได้ที่นี้
          </b-card-text>
        </b-card>

        <b-card
          title="สถานที่ตั้ง"
          img-src="https://campus.campus-star.com/app/uploads/2015/10/BUU-11.jpg"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem"
          class="mb-2 mt-5"
        >
          <b-card-text>
            มหาวิทยาลัยบูรพา 169 ถ.ลงหาดบางแสน ต.แสนสุข อ.เมือง จ.ชลบุรี
          </b-card-text>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    login () {
      this.$router.push('/login')
    },
    logout () {
      this.$store.dispatch('auth/logout')
    },
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    },
    loginString () {
      return this.$store.getters['auth/isLogin'] ? 'Login' : 'Logout'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
