<template>
  <div class="app-menu min-vh-100">
    <b-nav vertical>
      <b-nav-item to="/room">Room</b-nav-item>
      <b-nav-item to="/reservation">Reservations</b-nav-item>
      <b-nav-item to="/reserve_status">Reserve Status</b-nav-item>
      <b-nav-item to="/history">History</b-nav-item>
      <b-nav-item to="/consider_booking" v-if="roles === 'APPROVER'"
        >Consider Booking</b-nav-item
      >
      <b-nav-item
        @click="showManagement_Middle_Admin = !showManagement_Middle_Admin"
        v-if="roles === 'ADMIN'"
        >Management
        <b-icon
          :icon="
            showManagement_Middle_Admin ? 'caret-down-fill' : 'caret-right-fill'
          "
        ></b-icon
      ></b-nav-item>
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Middle_Admin"
        to="/user_management"
        >User Management</b-nav-item
      >
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Middle_Admin"
        to="/room_management"
        >Room Management</b-nav-item
      >
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Middle_Admin"
        to="/building_management"
        >Building Management</b-nav-item
      >
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Middle_Admin"
        to="/agency_management"
        >Agency Management</b-nav-item
      >
      <b-nav-item
        @click="showManagement_Agency_Admin = !showManagement_Agency_Admin"
        v-if="roles === 'ADMIN_FACULTY'"
        >Management
        <b-icon
          :icon="
            showManagement_Agency_Admin ? 'caret-down-fill' : 'caret-right-fill'
          "
        ></b-icon
      ></b-nav-item>
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Agency_Admin"
        to="/user_management"
        >User Management</b-nav-item
      >
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Agency_Admin"
        to="/room_management"
        >Room Management</b-nav-item
      >
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Agency_Admin"
        to="/equipment_management"
        >Equipment Management</b-nav-item
      >
      <b-nav-item
        class="sub-menu"
        v-if="showManagement_Agency_Admin"
        to="/approval_sequences_management"
        >Approval Sequences Management</b-nav-item
      >
    </b-nav>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showManagement_Middle_Admin: false,
      showManagement_Agency_Admin: false,
      roles: JSON.parse(localStorage.getItem('user')).roles[0]
    }
  }
}
</script>

<style>
.app-menu {
  background-color: whitesmoke;
  font-size: 14pt;
}
.sub-menu {
  padding-left: 10pt;
  font-size: 12pt;
}
.nav-link {
  color: rgb(71, 71, 73);
  text-align: left;
}
.nav-link:hover {
  color: #9a7b4f;
}
</style>
