<template>
  <div>
    <b-navbar type="dark" style="background-color: #9a7b4f">
      <b-img src="../assets/logo_buu.png" width="50%" class="mr-3"></b-img>
      <b-navbar-brand tag="h1" href="/">Burapha University</b-navbar-brand>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form v-if="isLogin">
          <b-form-input
            size="sm"
            class="mr-sm-2"
            placeholder="Search"
          ></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit"
            >Search</b-button
          >
        </b-nav-form>
        <b-button right v-if="!isLogin" @click="login()">LOGIN</b-button>
        <b-nav-item-dropdown right v-else>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em v-if="isLogin">{{ getUsername() }}</em>
          </template>
          <b-dropdown-item href="#">Profile</b-dropdown-item>
          <b-dropdown-item @click="logout()">Sign Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-navbar>
  </div>
</template>
<script>
export default {
  data () {
    return {
      name: ''
    }
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  },
  methods: {
    login () {
      this.$router.push('/login')
    },
    logout () {
      this.$store.dispatch('auth/logout')
    },
    getUsername () {
      this.name = JSON.parse(localStorage.getItem('user')).username
      return this.name
    }
  }
}
</script>
<style></style>
