<template>
  <div>
    <h3 class="mb-3 mt-3">Reserve Status</h3>
    <b-container fluid>
      <b-row>
        <b-col>
          <b-table :items="reserveItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button
                class="ml-1"
                @click="cancelReserve(item)"
                variant="danger"
                >Cancel</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row></b-container
    >
  </div>
</template>
<script>
import axios from 'axios'
export default {
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    cancelReserve (item) {
      // console.log(item._id)
      if (confirm('Do you want to cancel the reserve status?')) {
        axios
          .put('http://localhost:3000/cancelReserve/' + item._id)
          .then(
            function (response) {
              this.getReserves()
              this.makeToast('Cancel Successfully')
            }.bind(this)
          )
          .catch(() => {
            this.makeToast('Fail to cancel Reserve')
          })
        return ''
      }
    },
    getReserves () {
      const userID = JSON.parse(localStorage.getItem('user'))._id
      axios.get('http://localhost:3000/getReserveByUser/' + userID).then(
        function (response) {
          console.log(response.data)
          this.reserveItem = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: 'Room.Room_ID', label: 'ID Room' },
        { key: 'title', label: 'Title' },
        { key: 'startDate', label: 'Start Date' },
        { key: 'endDate', label: 'End Date' },
        { key: 'status', label: 'Status' },
        { key: 'operators', label: '' }
      ],
      selectedItem: null,
      reserveItem: []
    }
  },
  mounted () {
    this.getReserves()
  }
}
</script>
