<template>
  <div>
    <b-button @click="addNew" variant="primary" class="mb-2 mt"
      >Add Equipment</b-button
    >
    <b-modal
      id="modal-equipment"
      ref="modalEquipment"
      title="Equipment"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-equipment-name"
          label="Equipment : "
          label-for="equipment-name"
        >
          <b-form-input
            type="text"
            id="equipment-name"
            placeholder="Enter equipment"
            v-model="form.name"
            autofocus
          ></b-form-input>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
export default {
  props: {
    equipment: Object
  },
  data () {
    return {
      form: {
        _id: '',
        name: ''
      },
      isAddNew: false
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalEquipment.show()
    },
    submit () {
      const equipment = JSON.parse(JSON.stringify(this.form))
      equipment.price = parseFloat(equipment.price)
      this.$emit('save', equipment)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        name: ''
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        this.form._id = this.equipment._id
        this.form.name = this.equipment.name
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-equipment')
      })
    }
  }
}
</script>
<style></style>
