<template>
  <div>
    <h3 class="mb-2 mt-3">Equipment Management</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <EquipmentForm
            class="text-right"
            :equipment="selectedItem"
            ref="equipmentForm"
            @save="saveEquipment"
          ></EquipmentForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="equipmentItems" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editEquipment(item)">Edit</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteEquipment(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import EquipmentForm from './EquipmentForm.vue'
import axios from 'axios'
export default {
  components: {
    EquipmentForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveEquipment (equipment) {
      console.log('Submit', equipment)
      if (equipment._id === '') {
        // add new
        axios
          .post('http://localhost:3000/equipments', equipment)
          .then(
            function (response) {
              const newEquipment = response.data
              this.getEquipments()
              this.makeToast(
                'Add Successfully',
                'Equipment ' + newEquipment._id + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Add Failed ',
              'can not add ' + equipment._id,
              'danger'
            )
          })
      } else {
        // Update
        axios
          .put('http://localhost:3000/equipments/' + equipment._id, equipment)
          .then(
            function (response) {
              const updateEquipment = response.data
              this.getEquipments()
              this.makeToast(
                'Improved Successfully ',
                'Equipment ' + updateEquipment._id + ' has been edited'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed ',
              'can not update ' + equipment._id,
              'danger'
            )
          })
      }
    },
    editEquipment (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.equipmentForm.show()
      })
    },
    deleteEquipment (equipment) {
      if (confirm('Do you want to delete the Equipment?')) {
        axios
          .delete('http://localhost:3000/equipments/' + equipment._id)
          .then(
            function (response) {
              this.getEquipments()
              this.makeToast(
                'delete Successfully ',
                'Equipment ' + equipment._id + ' has been deleted'
              )
            }.bind(this)
          )
          .catch(() => {
            this.getEquipments()
            this.makeToast(
              'Delete Failed ',
              'can not delete ' + equipment._id,
              'danger'
            )
          })
      }
    },
    getEquipments () {
      axios.get('http://localhost:3000/equipments').then(
        function (response) {
          console.log(response)
          this.equipmentItems = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'name', label: 'Equipment' },
        { key: 'operators', label: '' }
      ],
      equipmentItems: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getEquipments()
  }
}
</script>
<style></style>
