<template>
  <div id="app">
    <NavBar />
    <b-row>
      <b-col cols="2" class="app-menu min-vh-100" v-if="isLogin"
        ><Menu
      /></b-col>
      <b-col>
        <b-container>
          <b-row>
            <b-col><router-view /></b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
  </div>
</template>
<script>
// Import
import NavBar from './components/NavBar'
import Menu from './components/Menu.vue'
export default {
  components: {
    NavBar,
    Menu
  },
  computed: {
    isLogin () {
      return this.$store.getters['auth/isLogin']
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#header {
  color: black;
  font-size: 30px;
  margin: 20px;
  text-align: left;
}
</style>
