<template>
  <div>
    <h3 class="mb-2 mt-3">Approval Sequences Management</h3>
    <b-container fluid>
      <b-row>
        <b-col class="text-center">
          <orderconsiderationsForm
            class="text-right"
            :order="selectedItem"
            ref="orderconsiderationsForm"
            @save="saveOrder"
          ></orderconsiderationsForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="orderItem" :fields="fields">
            <template #cell(operators)="{ item }">
              <b-button @click="editOrder(item)">Edit</b-button
              ><b-button
                class="ml-1"
                variant="danger"
                @click="deleteOrder(item)"
                >Delete</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row></b-container
    >
  </div>
</template>
<script>
import orderconsiderationsForm from './order_considerationsForm.vue'
import axios from 'axios'
export default {
  components: {
    orderconsiderationsForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveOrder (order) {
      console.log('Submit', order)
      if (order._id === '') {
        // add new
        axios
          .post('http://localhost:3000/orders/', order)
          .then(
            function (response) {
              const newOrder = response.data
              this.getOrder()
              this.makeToast(
                'Add Successfully',
                'Order ' + newOrder._id + ' has been added'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast('Add Failed', 'can not add ' + order._id, 'danger')
          })
      } else {
        // Update
        axios
          .put('http://localhost:3000/orders/' + order._id, order)
          .then(
            function (response) {
              const updateOrder = response.data
              this.getOrder()
              this.makeToast(
                'Improved Successfully',
                'Order ' + updateOrder._id + ' has been edited'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'Update Failed ',
              'can not update ' + order._id,
              'danger'
            )
          })
      }
    },
    editOrder (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.orderconsiderationsForm.show()
      })
    },
    deleteOrder (order) {
      if (confirm('Do you want to delete the order?')) {
        axios
          .delete('http://localhost:3000/orders/' + order._id)
          .then(
            function (response) {
              this.getOrder()
              this.makeToast(
                'delete Successfully ',
                'Order ' + order._id + ' has been deleted'
              )
            }.bind(this)
          )
          .catch(() => {
            this.getOrder()
            this.makeToast(
              'Delete Failed ',
              'can not delete ' + order._id,
              'danger'
            )
          })
      }
    },
    getOrder () {
      axios.get('http://localhost:3000/orders').then(
        function (response) {
          console.log(response)
          this.orderItem = response.data
        }.bind(this)
      )
    }
  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ID' },
        { key: 'Order_ID', label: 'ID Approval' },
        { key: 'Order_Name', label: 'Name' },
        { key: 'operators', label: '' }
      ],
      orderItem: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getOrder()
  }
}
</script>
