<template>
  <div>
    <b-button @click="addNew" variant="primary" class="mb-2 mt"
      >Add Approval</b-button
    >
    <b-modal
      id="modal-order"
      ref="modalorder"
      title="Approval Sequences"
      @show="showModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form @submit.stop.prevent="submit" @reset.stop.prevent="reset">
        <b-form-group
          id="form-group-order-id"
          label="ID Approval :"
          label-for="order-id"
        >
          <b-form-input
            type="text"
            id="order-id"
            placeholder="Enter id"
            v-model="form.Order_ID"
            autofocus
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-order-name"
          label="Name :"
          label-for="order-name"
        >
          <b-form-input
            type="text"
            id="order-name"
            placeholder="Enter name"
            v-model="form.Order_Name"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="form-group-order-roles"
          label="User :"
          label-for="order-roles"
        >
          <b-form-checkbox-group
            v-model="form.User"
            :options="userApprover"
            class="mb-3"
            value-field="text"
            text-field="value"
            stacked
          ></b-form-checkbox-group>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  props: {
    order: Object
  },
  data () {
    return {
      form: {
        _id: '',
        Order_ID: '',
        Order_Name: '',
        User: []
      },
      isAddNew: false,
      userApprover: [],
      orderItem: [{ value: null, text: 'Please select a order' }]
    }
  },
  methods: {
    addNew () {
      this.isAddNew = true
      this.$nextTick(() => {
        this.show()
        this.isAddNew = false
      })
    },
    show () {
      this.$refs.modalorder.show()
    },
    submit () {
      const orderconsiderations = JSON.parse(JSON.stringify(this.form))
      this.$emit('save', orderconsiderations)
      this.reset()
    },
    reset () {
      this.form = {
        _id: '',
        Order_ID: '',
        Order_Name: '',
        User: []
      }
    },
    showModal () {
      if (this.isAddNew) {
        this.reset()
      } else {
        console.log(this.order)
        this.form._id = this.order._id
        this.form.Order_ID = this.order.Order_ID
        this.form.Order_Name = this.order.Order_Name
        this.form.User = this.order.User
      }
    },
    resetModal (evt) {
      this.reset()
    },
    handleOk (evt) {
      evt.preventDefault()
      this.submit()
      this.$nextTick(() => {
        this.$bvModal.hide('modal-order')
      })
    },
    getApprover () {
      axios.get('http://localhost:3000/getApprover').then(
        function (response) {
          console.log(response)
          response.data.forEach((element) => {
            this.userApprover.push({
              value: element.firstname + ' ' + element.lastname,
              text: element._id
            })
          })
        }.bind(this)
      )
    }
  },
  mounted () {
    console.log(this.order)
    this.getApprover()
  }
}
</script>
<style></style>
